* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e80b0;
}

.btn {
  background-color: #ffffff;
  color: #e5dc15;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid #e5dc15;
}
